* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
}
.main {
    margin: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td , th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}